<h1>First Form</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label>
      Name:
      <input formControlName="name" placeholder="Your name" />
    </label>
  </div>
  <div>
    <label>
      Email:
      <input formControlName="email" placeholder="Your email" />
    </label>
  </div>
  <div>
    <label>
      Message:
      <input formControlName="message" placeholder="Your message" />
    </label>
  </div>
  <div formGroupName="address">
    <div class="form-group">
      <label for="city">City</label>
      <input
        type="text"
        class="form-control"
        name="city"
        formControlName="city"
      />
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input
        type="text"
        class="form-control"
        name="street"
        formControlName="street"
      />
    </div>

    <div class="form-group">
      <label for="pincode">Pin Code</label>
      <input
        type="text"
        class="form-control"
        name="pincode"
        formControlName="pincode"
      />
    </div>
  </div>
  <button type="submit">Send</button>
</form>

<hr />
<h1>Second Form</h1>
<form [formGroup]="mySecondForm" (ngSubmit)="onSubmit(mySecondForm)">
  <div>
    <label>
      Name:
      <input formControlName="name" placeholder="Your name" />
    </label>
  </div>
  <div>
    <label>
      Email:
      <input formControlName="email" placeholder="Your email" />
    </label>
  </div>
  <div>
    <label>
      Message:
      <input formControlName="message" placeholder="Your message" />
    </label>
  </div>
  <button type="submit">Send</button>
</form>
